<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- CSS del proyecto -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <title>
        {% block title %}
        ElectroLife
        {% endblock %}
    </title>

</head>

<body>

    <!-- ================= NAVBAR ================= -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

        
             <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="{{ url_for('static', filename='img/logoele.jpg') }}" 
                  alt="ElectroLife Logo" 
                  width="65" 
                  height="65" 
                  class="me-2">
                <strong>ElectroLife</strong>
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu"
                    aria-controls="menu"
                    aria-expanded="false"
                    aria-label="Mostrar navegación">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="menu">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('inicio') }}">
                            Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('productos') }}">
                            Productos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('clientes') }}">
                            Clientes
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('proveedores') }}">
                            Proveedores
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('facturacion') }}">
                            Facturación
                        </a>
                    </li>

                </ul>
                
                {% if current_user.is_authenticated %}

                <span class="navbar-text me-3">
                    Usuario: {{ current_user.usuario }}
                </span>

                <a
                    class="btn btn-outline-danger"
                    href="{{ url_for('logout') }}"
                >
                    Cerrar sesión
                </a>

            {% else %}

                <a
                    class="btn btn-outline-primary me-2"
                    href="{{ url_for('login') }}"
                >
                    Iniciar sesión
                </a>

                <a
                    class="btn btn-outline-success"
                    href="{{ url_for('registro') }}"
                >
                    Registrarse
                </a>

            {% endif %}


            </div>

        </div>

    </nav>


    <!-- ================= CONTENIDO ================= -->

    <main>

        {% block content %}
        {% endblock %}

    </main>


    <!-- ================= FOOTER ================= -->

    <footer class="footer-custom text-center p-4 mt-5">

        <p class="mb-1">
            <b>Nombre del estudiante:</b>
            Tatiana Stefania Peñafiel Moran
        </p>

        <p class="mb-1">
            <b>Asignatura:</b>
            Desarrollo de Aplicaciones Web
        </p>

        <p class="mb-0">
            <b>Año:</b> 2026
        </p>

    </footer>


    <!-- Bootstrap JavaScript -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>

    <!-- JavaScript del proyecto -->

    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>

        {% include "components/footer.html" %}
</body>

</html>